body {
    background-color: lightgrey;
}   
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: left;
    top:0px;
    left:0px;
}
header {
    background-color: lightblue;
}
#geo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: grey;
    text-align: left;
    margin-top: 5px;
    top:0px;
    left:0px;
}
nav.menu ul { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
    text-align: right;
    top:0px;
    right:0px;
} 
nav.menu li { 
    display: inline;
}
nav.menu li a { 
    text-decoration: none; 
    padding-left: 6px;
    padding-right: 6px; 
    padding-top: 4px;
    color:white;
    background-color: lightblue;
} 
nav.menu li a:hover { 
    background-color: grey; 
} 
.a {
    text-align: left;
    position: relative;
    left:50px;
}
.b {
    text-align: left;
}
.b {
    margin-left:20px;
    border:grey solid 4px;
    background-color:white;
    padding: 5px;
}
footer{
    margin-top:5px;
    margin-left: 400px;
    margin-right: 50px;
}

